<h3><%= @category.name %></h3>

<ul>
  <% @category.products.each do |product| %>
    <li><%= link_to product.name, product %></li>
    <%= link_to product do %>
    <p><%= image_tag product.image.thumbnail.url %></p>
    <% end %>
    <p><%= product.price %> <%= link_to 'ADD TO CART', add_to_cart_product_path(product), method: :post %></p>
  <% end %>

</ul>


<p><%= link_to 'Back', :back %></p>