<h2><%= @product.name %></h2>

<p><%= @product.description %></p>
<h3><%= @product.price %></h3>
<%= image_tag @product.image.show.url %>
<p><%= link_to 'ADD TO CART', add_to_cart_product_path(@product), method: :post %></p>
<p><%= link_to 'Back', :back %></p>
