<!DOCTYPE html>
<html>
  <head>
    <title>Bigblue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue' %>
  </head>

  <header>
    <h1>Bigblue</h1>
    <nav class="navbar navbar-light bg-light">
        <ul class="nav">
          <li class="nav-item"><%= link_to "Home", root_path, :class => "nav-link" %></li>
          <li class="nav-item"><%= link_to "Products", products_path, :class => "nav-link" %></li>
          <li class="nav-item"><%= link_to "Categories", categories_path, :class => "nav-link" %></li>
          <li class="nav-item"><%= link_to "About Us", "/ca/about-us", :class => "nav-link" %></li>
          <li class="nav-item"><%= link_to "Contact", "/ca/contact", :class => "nav-link" %></li>
        </ul>
    </nav>
    <p class="navbar-text pull-right">
    <% if customer_signed_in? %>
      Logged in as <strong><%= current_customer.email %></strong>.
      <%= link_to 'Edit profile', edit_customer_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_customer_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_customer_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_customer_session_path, :class => 'navbar-link'  %>
    <% end %>
    </p>
    <%= form_tag(search_results_path, method: "get") do %>
      <%= select_tag(:type, options_from_collection_for_select(Category.all, 'id', 'name'), { :include_blank => 'All'})%>
      <%= text_field_tag(:q, nil, required: 'required') %>
      <%= submit_tag("Search") %>
    <% end %>
    <p class="cart">
      <%= link_to "CART " + session[:cart].count.to_s, cart_path%>
    </p>
  </header>

  <body>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= debug session[:cart]  %>
    <%= yield %>
  </body>
</html>
