<!DOCTYPE html>
<html>
  <head>
    <title>Bigblue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue' %>
  </head>

  <header>
    <h1>Bigblue</h1>
    <nav class="navbar navbar-light bg-light">
        <ul class="nav">
          <li class="nav-item"><%= link_to "Home", root_path, :class => "nav-link" %></li>
          <li class="nav-item"><%= link_to "Products", products_path, :class => "nav-link" %></li>
          <li class="nav-item"><%= link_to "Categories", categories_path, :class => "nav-link" %></li>
          <li class="nav-item"><%= link_to "About Us", "/ca/about-us", :class => "nav-link" %></li>
          <li class="nav-item"><%= link_to "Contact", "/ca/contact", :class => "nav-link" %></li>
        </ul>
    </nav>
    <%= form_tag(search_results_path, method: "get") do %>
      <%= select_tag(:type, options_from_collection_for_select(Category.all, 'id', 'name'), { :include_blank => 'All'})%>
      <%= text_field_tag(:q, nil, required: 'required') %>
      <%= submit_tag("Search") %>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
